.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #e7e7e8;
  min-height: 10vh;
  display: block;
  flex-direction: column;
  color: rgb(1, 1, 1);
  font-size: 3rem;
  line-height: 2;
  font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  width: 100%;
}

body {
  background-color: #c8befb;
  flex-direction: row;
  display: block;
  font-size: calc(10px + 1vmin);
  color: rgb(0, 0, 0);
  font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}
